<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogesh.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vendor_login"></activity>
        <activity android:name=".vendor_signup" />
        <activity android:name=".customer_signup" />
        <activity
            android:name=".summary"
            android:label="Summary" />
        <activity
            android:name=".Welcome_screen"
            android:label="@string/welcome_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".customerhomepage"
            android:label="@string/title_activity_customerhomepage" />
        <activity android:name=".vegetables" />
        <activity android:name=".fruits" />
        <activity android:name=".dairy" />
        <activity android:name=".meat" />
        <activity android:name=".daily_update" />
    </application>

</manifest>