<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogesh.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".add_products" />
        <activity android:name=".schedule" />
        <activity android:name=".new_schedule" />
        <activity android:name=".vendor_login" />
        <activity android:name=".customerlogin" />
        <activity android:name=".custom_list_view" />
        <activity android:name=".vendor_signup" />
        <activity android:name=".customer_signup" />
        <activity
            android:name=".summary"
            android:label="Summary" />
        <activity
            android:name=".Welcome_screen"
            android:label="@string/welcome_screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vegetables" />
        <activity android:name=".fruits" />
        <activity android:name=".dairy" />
        <activity android:name=".meat" />
        <activity android:name=".daily_update" />
        <activity android:name=".classification" />
        <activity android:name=".BuyNow" />
        <activity android:name=".yourOrder" />
        <activity android:name=".custo_home_page" />
        <activity android:name=".homelist" />
        <activity android:name=".My_orders_screen" />
        <activity android:name=".custom_announcementList" />
        <activity android:name=".wholesaler_signup" />
        <activity android:name=".wholesaler_home"></activity>
    </application>

</manifest>